<a href="https://colab.research.google.com/github/ZainDataS/Module1_Python_Problems/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [ ]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [ ]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max(temperatures))
print(max_temp_index)

4

In [ ]:
# Store the lowest temperature 
min_temp =  min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min(temperatures))
print(min_temp_index)

2

In [ ]:
# Swap the highest and the lowest temperatures
temperatures[min_temp_index] = max_temp
temperatures[max_temp_index] = min_temp

In [ ]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [ ]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [ ]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

### Calculate the median price

In [ ]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list) 
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [ ]:
# Check if the number of elements in the list is even or odd
list_length = len(sorted_prices)
list_length %2 ==  0  #to check even or odd

True

In [ ]:
# Use the corresponding formula to calculate the median and print the median 
#in case of Odd
#index_for_odd = (len(sorted_prices)+ 1)/ 2
#final_index = int(index_for_odd)
#print(final_index)
#sorted_prices[final_index] 

index1_for_even = (len(sorted_prices)/2)
index2_for_even = (len(sorted_prices)/2 + 1)  # it will give float output while list doesnt take float input as index
median_for_even = (sorted_prices[int(index1_for_even)] + sorted_prices[int(index2_for_even)])/ 2  #int here is used for changing the index datatype from float to int
print(median_for_even)

660.0

In [ ]:
# Check which is greater, mean or median
max(median_for_even ,  mean_price )

1975.0

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>
A mean indicates the average of all the given numbers while median gives the middle value separating lower and upper halfs.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [ ]:
# Write your code below
keep_it = tech_companies[-1]
tech_companies.pop()
tech_companies.extend(keep_it)
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [ ]:
# Do the same task another way
new = [tech_companies[3][0], tech_companies[3][1], tech_companies[3][2]]
tech_companies.pop()
tech_companies + new

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']